{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="{% static 'assets/img/logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="{% static 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap' %}" rel="stylesheet">
  <link href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' %}" rel="stylesheet">
<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css '%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- Variables CSS Files. -->
  <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<!-- Demo styles -->
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-around">
      <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <h1 class="logo color-white"><img width="140px" height="60px" src="{% static 'assets/img/logo/trace (1).svg' %}" alt=""></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#Identity" >About us</a></li>
          <li class="dropdown"><a href="/#services"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/web">Website development</a></li>
              <li><a href="/graphic">Graphic design</a></li>
              <li><a href="/mobile">Mobile application</a></li>
              <li><a href="/ui">UX & UI</a></li>
              <li><a href="/social">Social media management
                </a></li>
              <li><a href="/motion">Motion graphic</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/team">Our Team</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact Us</a></li>
            <li class="dropdown"><a href="/"><span>EN         <img src="{% static 'assets/media/flag.svg' %}" alt=""></span></a>
              <ul>
                <a href="/ar"><span>AR <img class="p-2" src="{% static 'assets/media/saudi-arabia.svg' %}" alt=""></span></a>
                <a href="/"><span>EN <img class="p-2" src="{% static 'assets/media/flag.svg' %}" alt=""></span></a>
              </ul>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none color-white"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

 


  {% block content %}
  
  


  {% endblock content %}

  {% if messages %}
  <div class="alert alert-info" role="alert">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.message }}</li>
      {% endfor %}
  </div>
  {% endif %}

  
 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3><img height="80px" src="{% static 'assets/img/footer-logo2.png' %}" alt=""></h3>
              <p>
                20th Street <br>
                Gaza, palestine, Nuseirat<br><br>
                <strong>Phone:</strong> +972 56-751-0500<br>
                <strong>Email:</strong> conanplus_tc@gmail.com
                <br>
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/#Identity">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/#services">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/team">Our Team</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/contact">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/web">Website development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/graphic">Graphic design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/mobile">Mobile application</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/ui">UX & UI</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/social">Social media management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/motion">Motion graphic</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Subscribe to the e-mail service</h4>
            <p>Get everything new about our services and business</p>

            <form action="" method="post"> 
             
              {% csrf_token %}
              
            
              
                {{form.email}}
             
             
           
            <input type="submit" value="Subscribe" style="height: 100%;">
            </form>
            <br>
          {% if form.errors %}
        <div class="alert alert-danger" dir="ltr">
          {% for field in form %}
            {% for error in field.errors %}
              {{ error }}
              <br>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            {{ error }}
            <br>
          {% endfor %}
        </div>
        {% endif %}

          </div>
        </div>
      </div>
    </div>
    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>C O N A N</span></strong>. All Rights Reserved
          </div>
        </div>
        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://twitter.com/conanplus_tc?s=21" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/conanplus.tc" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/conanplus_tc?igshid=YmMyMTA2M2Y=" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.behance.net/conanplus/projects" class="google-plus" target="_blank"><i class="bi bi-behance"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin" target="_blank"></i></a>
          <a href="https://wa.me/message/VALHTICEZKIYN1" class="linkexdin"><i class="bi bi-whatsapp" target="_blank"></i></a>
          <a href="http://www.tiktok.com/@conanplus_tc" class="linkedin"><i class="bi bi-tiktok" target="_blank"></i></a>
          <a href="https://t.me/conanplus_tc" class="linkedin"><i class="bi bi-telegram" target="_blank"></i></a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script type="text/javascript" src="{% static 'assets/js/particles.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
  <script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
 {% block text %}
  
 {% endblock text %}

</body>
</html>