{% extends 'base-ar.html' %}
{% block title %}CONAN-PLUS{% endblock title %}
{% block content %}
{% load static %}
  <section id="hero-animated " class="hero-animated d-flex align-items-center">
    <div class="overlay" id="particles-js"></div>
    <div class="container d-flex  justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <div class="content justify-content-start">
        <h2 class="color-white h-in-head" dir="rtl">مرحباً بك في <span id="Text-4"></span></h2>
        <p class="color-white h-in-head">منصة رقمية لتقديم حلول إبداعية لتطوير المشاريع التجارية للعملاء وزيادة أرباحهم وتسويق منتجاتهم والترويج لعلاماتهم التجارية.</p>
      <div class="d-flex gap-3 justify-content-start">
        <a href="#pricing" class="btn-get-started scrollto" >باقاتنا </a>
        <a class="custom-n btn btn-outline-primary py-2 px-3 color-white" href="https://api.whatsapp.com/message/VALHTICEZKIYN1?autoload=1&app_absent=0" target="_blank">
          أطلب خدمة خاصة
              <div class="d-inline-flex btn-sm-square  text-primary rounded-circle ms-2 ">
                  <i class="fa fa-arrow-left color-white"></i>
              </div>
          </a>
          <div class="d-none d-lg-flex ms-2">
      </div>
      </div>
      </div>
      <img src="{% static 'assets/img/head-img-services/main.png' %}" class="img-fluid animated">
    </div>
  </section>
  <main id="main"> 
<!-- ======= About Section ======= -->
    <section id="Identity" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>نبذة عنا</h2>
          <p>لماذا يجب عليك التعامل معنا ؟</p>
        </div>
        <div class="row">
          <div class="col-lg-6">
          <div class="content d-flex flex-column justify-content-center h-100">
            <h3>لماذا يجب عليك إختيار شركة C O N A N ؟</h3>
            <p class="p">
              وكالة رائدة في مجال الدعاية والإعلان، حيث نمتلك فريق عالي الكفاءة يقدم خدمات مبتكرة وينفذ منتجات فريدة بجودة عالية ودقة عالية. نمتلك أسلوبًا مميزًا وأدوات متطورة، وتسعى الإدارة دائمًا لتحقيق النجاح والتميز.
            </p>
            <p class="p">
              تأسست الشركة في عام 2020، ونجحت في تحقيق العديد من الإنجازات بفضل رغبتها المستمرة في التحسين. اليوم، تعد "كونان بلس" واحدة من الوكالات الرائدة في مجال الدعاية والإعلان، وتستمر في السعي لتحسين جودة الخدمات التي تقدمها وتحقيق المزيد من النجاحات بموجب رؤيتها ورسالتها.
            </p>
            <ul class="gap-5 d-flex">
              <li class="d22 "><i class="icon22 bi bi-check-circle-fill p-3"></i>الخبرة والاحتراف</li>
              <li class="d22 "><i class="icon22 bi bi-check-circle-fill p-3"></i>راحة المستهلك</li>
            </ul>
            <ul class="gap-5 d-flex">
              <li class="d22 "><i class="icon22 bi bi-check-circle-fill p-3 "></i>تنوع وجودة الخدمات</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="{% static 'assets/img/features-6.svg' %}" alt="" class="img-fluid">
        </div>
        </div>
      </div>
    </section><!-- End About Section -->  
      <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
          </div>
        </div>
      </div>
    </section><!-- End Clients Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services" dir="">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>خدماتنا</h2>
      <p>تصفح خدماتنا التقنية الرائدة. </p>
    </div>
    <div class="row gy-5">
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="service-item">
          <div class="img">
            <img src="{% static 'assets/img/service/new-2/web.png' %}" width="" class="" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-code-slash"></i>
            </div>
            <a href="web - ar.html" class="stretched-link">
              <h3>تصميم وتطوير مواقع الويب</h3>
            </a>
            <p>خدمة برمجة وتطوير مواقع الويب من CONAN لإنشاء موقعك ولتلبية جميع احتياجات عملك أو مشروعك البرمجي.</p>
          </div>
        </div>
      </div><!-- End Service Item -->
      
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="service-item">
          <div class="img">
            <img src="{% static 'assets/img/service/new-2/graphic-design.png' %}" class="" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-bezier"></i>
            </div>
            <a href="graphic-design - ar.html" class="stretched-link">
              <h3>التصميم الجرافيكي</h3>
            </a>
            <p>شركة CONAN تقدم خدمات تصميم جرافيكي مبتكرة واحترافية، بما في ذلك تصميم شعارات فريدة وجذابة، ومطبوعات ترويجية متنوعة مثل بروشورات وبطاقات العمل، وإعلانات رقمية متميزة تلفت الانتباه على منصات التواصل الاجتماعي والويب.
            </p>
          </div>
        </div>
      </div><!-- End Service Item -->
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="service-item">
          <div class="img">
            <img src="{% static 'assets/img/service/new-2/mobile-app.png' %}" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-phone"></i>
            </div>
            <a href="Mobile application - ar.html" class="stretched-link">
              <h3>تطبيقات الهواتف </h3>
            </a>
            <p>شركة CONAN تقدم خدمات برمجة تطبيقات هواتف ذكية احترافية على منصات الأندرويد والiOS، بتصميمات مبتكرة تلبي احتياجات العملاء وتوفر تجربة مستخدم ممتازة.</p>
          </div>
        </div>
      </div><!-- End Service Item -->
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
        <div class="service-item">
          <div class="img">
            <img src="{% static 'assets/img/service/new-2/ui.png' %}" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-magic"></i>
            </div>
            <a href="UX & UI - ar.html" class="stretched-link">
              <h3>UX  &  UI</h3>
            </a>
            <p>شركة CONAN توفر خدمات تصميم واجهة المستخدم (UI) وتجربة المستخدم (UX) الاحترافية لتطبيقات الهواتف الذكية، بتصميم مبتكر وجذاب يتيح تفاعل سهل وسلس للمستخدمين، مما يضمن تحقيق تجربة مستخدم ممتازة وزيادة رضا العملاء عن التطبيق.</p>
          </div>
        </div>
      </div><!-- End Service Item -->
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="service-item">
          <div class="img">
            <img src="{% static 'assets/img/service/new-2/sochial.png' %}" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-snapchat"></i>
            </div>
            <a href="Social media management - ar.html" class="stretched-link">
              <h3>إدارة حسابات السوشيال ميديا</h3>
            </a>
            <p>شركة CONAN تقدم خدمات إدارة حسابات السوشيال ميديا بمهارة واحترافية، تشمل إنشاء وإدارة حسابات وسائل التواصل الاجتماعي، وتحسين الاستراتيجيات والمحتوى، ومتابعة التفاعلات والتعليقات، وإدارة الحملات التسويقية.</p>
          </div>
        </div>
      </div><!-- End Service Item -->
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
        <div class="service-item">
          <div class="img">
            <img src="{% static 'assets/img/service/new-2/markiting.png' %}" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-mask"></i>
            </div>
            <a href="Motion graphic - ar.html" class="stretched-link">
              <h3>الموشن جرافيك</h3>
            </a>
            <p>شركة CONAN توفر خدمات موشن جرافيك تشمل الرسم، والتصميم، والتحريك، وإضافة الصوت والمؤثرات البصرية، لإنشاء محتوى مرئي مبتكر يعزز تواجد العميل على مختلف القنوات الرقمية ويساعد على تحسين تفاعل المستخدمين وتعزيز العلامة التجارية.</p>
          </div>
        </div>
      </div><!-- End Service Item -->
    </div>
  </div>
</section><!-- End Services Section -->


<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="section-header">
    <h2>Team</h2>
    <p>See our awesome team members.</p>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      
     
      
     
      {% for te in team %}
       {% if forloop.counter0|divisibleby:3 %}
     
          <div class="swiper-slide d-flex22 ">
        {% endif %}
       
        <div class="box">
          <div class="img">
            <div class="person-img">
              <!-- 250px × 250px  -->
              <img src="{{te.image.url}}" alt="">
            </div>
          </div>
          <div class="content">
            <h1>{{te.person_name}}</h1>
            <span>{{te.field}}</span>
          </div>
        </div>
    
      {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
      
      {% endif %}
     {% endfor %}

    </div>
    <div class="swiper-button-next bi bi-arrow-right-circle-fill"></div>
    <div class="swiper-button-prev bi bi-arrow-left-circle-fill"></div>
    <div class="swiper-pagination"></div>
    <div class="autoplay-progress">
      <svg viewBox="0 0 48 48 " class="opacity-0 ">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </div>
  
  
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
    const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");
    var swiper = new Swiper(".mySwiper", {
spaceBetween: 30,
centeredSlides: true,
slidesPerView: 'auto',
autoplay: {
delay: 4500,
disableOnInteraction: false
},
pagination: {
el: ".swiper-pagination",
clickable: true
},
navigation: {
nextEl: ".swiper-button-next",
prevEl: ".swiper-button-prev"
},
breakpoints: {
// 768 هو حجم الشاشة التي تعرض فيها السلايدات كسلايد واحد
768: {
  slidesPerView: 1,
  spaceBetween: 10,
},
// 1024 هو حجم الشاشة التي تعرض فيها السلايدات كثلاثة سلايدات
1024: {
  slidesPerView: 1,
  spaceBetween: 30,
},
}
});
;
  </script>
</section>
<!-- End Team Section -->

    <!-- ======= On Focus Section ======= -->
    <!-- هذا القسم قابل للحذف -->
    <section id="onfocus" class="onfocus">
      <div class="container-fluid p-0" data-aos="fade-up">
        <div class="row g-0">
          <div class="col-lg-6 video-play position-relative" style="background: linear-gradient(rgba(var(--color-black-rgb), 0.4), rgba(var(--color-black-rgb), 0.7)), url({% static 'assets/img/onfocus-video-bg.jpg' %}) center center;">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6">
            <div class="content d-flex flex-column justify-content-center h-100">
              <h3>رؤيتنا</h3>
              <p class="">
                أن نبلغ الكمال في مجال الدعــــــــــــاية والإعلان لنكون ضمن الخيـــــارات الأولى في المملكة العربية السعودية والوطن العربي لصــنع الحلــــول الفنيــة والتقنية، والتفنُّن في تقــديم المنتجات الدعائية، والخدمات الإعلانية والبرمجية، وفقًــا للــمعاييــر العالميــة، وبــــــرؤيــةٍ تتماشى مع رؤيــة السعوديــة 2030م.
              </p>
              <ul>
                
              </ul>
              <h3>أهدافنا</h3><ul>
                <li><i class="bi bi-check-circle" style="font-size: 18px;"></i> السعي المستمر إلى إرضاء العميل من خلال تقديم الاستشارات والحلول المميزة. </li>
                <li><i class="bi bi-check-circle" style="font-size: 18px;"></i>تقديم الخدمات بجـــودة عاليــة، واحترافيــة متجدِّدة، وإتقان يلفت الأنظار. </li>
                <li><i class="bi bi-check-circle" style="font-size: 18px;"></i> التطوير المستمر، والارتقاء الدائم، والمتابعة الدؤوبة، واكتشاف كل ما هو جديد في المجال.</li>
                <li><i class="bi bi-check-circle" style="font-size: 18px;"></i> الوفـــاء برغبـــات عمـلائنــا وتقديــم المـــواد والخامات المميزة بجودة عالية وأسعار منافسة.</li>
                <li><i class="bi bi-check-circle" style="font-size: 18px;"></i> الارتقاء المستمر بقدراتنا الفنية، وإمكانياتنـا الإنتاجية، ورفع كفاءة القوى العاملـة لدينـا.</li>
                <li><i class="bi bi-check-circle" style="font-size: 18px;"></i> صنع العلاقات المميزة مع شركائنا من العملاء والموردين والمجتمعات التي نحظى بتقديم خدماتنا لها.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End On Focus Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>باقاتنا</h2>
          <p>شركة CONAN تقدم باقات مميزة تشمل تصميم الجرافيك، تطوير الويب، إدارة حسابات السوشيال ميديا، UI/UX، وفيديوهات الموشن جرافيك. باقاتنا تبدأ من باقة البداية وتصل إلى باقة الاحتراف الكاملة. نحن نلتزم بتقديم جودة عالية وابتكار في جميع خدماتنا لمساعدة عملائنا في تحقيق أهدافهم الرقمية بشكل متميز.</p>
        </div>
        <div class="row gy-4">
          
          {% for pa in package %}
            
            
          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item featured">
              <div class="pricing-header">
                <h3 class="font-title-buy">{{pa.name}}</h3>
                <h4 style="color:white;"><span>  تبدأ من  </span><strong><sup>$</sup>{{pa.price}}</strong></h4>
                
              </div>
              <ul style="text-align: right;">
                <p>
                {{pa.points}}
                </p>
              </ul>
              <div class="text-center mt-auto">
                <a href="https://api.whatsapp.com/message/VALHTICEZKIYN1?autoload=1&app_absent=0" class="buy-btn" target="_blank">إشتري الآن</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->
          {% endfor %}
        </div>
      </div>
    </section><!-- End Pricing Section -->
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row gy-4">
          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
            <div class="content px-xl-5">
              <h3>الأسئلة <strong>الشائعة</strong></h3>
              <p>
                نبذة عن الأسئلة الشائعة في شركة CONAN تشمل الباقات المقدمة والخدمات المتاحة.
              </p>
            </div>
            <div class="accordion accordion-flush px-xl-5" id="faqlist">
              {% for q in que %}
              <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    <p>{{q.question}}</p>
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <p>{{q.ask}}</p>
                  </div>
                </div>
              </div><!-- # Faq item-->
              {% endfor %}
      
            </div>
          </div>
          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url({% static 'assets/img/faq.jpg' %});">&nbsp;</div>
        </div>
      </div>
    </section><!-- End F.A.Q Section -->
  </main><!-- End #main -->
  {% endblock content %}
{% block text %}
  <script>
    let typingText = new Typed("#Text-4",{
      strings : ["+ C O N A N ", "منصتنا الرقمية","+ C O N A N"],loop:true,typeSpeed :100,backSpeed:50,backDelay : 1000,
    })
  </script>
{% endblock text %}